<div class="body-container-component">
  <p id="add-task-title">Add Tasks</p>
  <div class="button-container">
    <app-custom-button
      className="create-button"
      text="+Create"
    ></app-custom-button>
    <div class="all-incomplete-complete-container">
      <app-custom-button
        className="custom-button"
        text="All"
      ></app-custom-button>
      <app-custom-button
        className="custom-button"
        text="Incomplete"
      ></app-custom-button>
      <app-custom-button
        className="custom-button"
        text="Complete"
      ></app-custom-button>
    </div>
  </div>
  <app-tasks></app-tasks>
</div>
