<div class="body-container-component">
  <p id="add-task-title">Add Tasks</p>
  <div class="button-container">
    <button class="create-button" (click)="onAddButtonPressed()">
      +Create
    </button>
    <div class="all-incomplete-complete-container">
      <a routerLinkActive="active current" routerLink="./all">
        <button class="custom-button">All</button>
      </a>
      <a routerLinkActive="active current" routerLink="./incomplete"
        ><button class="custom-button">Incomplete</button></a
      >
      <a routerLinkActive="active current" routerLink="./complete">
        <button class="custom-button">Complete</button></a
      >
    </div>
  </div>
</div>
