.container__task {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
.container__empty-task {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 60vh;
  align-self: center;
}

.empty-task__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-primary);
  margin-top: 25px;
  text-align: center;
}
