.task-container-component {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 3em;
  margin-top: 34px;
}

#task-title-input {
  background: #ffffff;
  border: 3px solid #d1d8ff;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  height: 80px;
  resize: none;
  outline: none;
}

.add-task-button {
  width: 91px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #32394b;
  border-radius: 5px;
  background: white;
  border: 1px solid #d1d8ff;
  cursor: pointer;
}
.add-task-button:hover {
  background: #e6e0e0;
}

.delete-task-button {
  width: 20px;
  height: 24px;
  color: #bbbdd0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.add-button-container {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.task-item-component {
  display: flex;
  height: 163px;
  border: 1px solid #dde2ff;
  box-sizing: border-box;
  border-radius: 5px;
}
/* .task-item-cart {
  position: relative;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 5%;
} */
.task-item-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  padding: 5%;
}
/* .task-item-component:not(:nth-child(4n)) {
  margin-right: calc(10% / 3);
}

.task-item-component:nth-child(4n) {
  margin-right: 0px;
} */

.spinner-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.load-more-button,
.show-less-button {
  height: 36px;
  width: 117px;
  color: white;
  background: #32394b;
  border: 1px solid #dde2ff;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.load-more-div,
.show-less-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .task-container-component {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 2em;
  }
}
