.root__splash-screen {
  background: var(--background-white);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash__image {
  width: 400px;
  height: auto;
}

.spinner__image {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.root__spinner {
  width: 100%;
  height: 100%;
}

.root__toast--success {
  width: 390px;
  height: 55px;
  border-radius: 5px;
  background: #0bc475;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
  animation: fadein 2s infinite alternate;
}

.toast__image {
  margin-right: 5px;
}

.toast__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: var(--text-color-white);
}

.root__toast--unsuccess {
  width: 364px;
  height: 55px;
  border-radius: 5px;
  background: var(--background-failed);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
  animation: 2s;
}

.root__blur {
  opacity: 0.5;
  pointer-events: none;
}

.root__header {
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .splash__image {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .splash__image {
    width: 250px;
  }
}

@media screen and (max-width: 350px) {
  .splash__image {
    width: 200px;
  }
}
