<div *ngIf="isSplash" class="root__splash-screen">
  <img class="splash__image" src="../assets/images/splash.png" alt="" />
</div>
<!-- <div class="root__toast"> -->
<div *ngIf="isSuccess" class="root__toast--success">
  <!-- <img class="toast__image" src="../assets/images/tick_mark.svg" alt="" /> -->
  <svg
    class="toast__image"
    width="12"
    height="10"
    viewBox="0 0 12 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10.1425 0L4.5 5.7835L1.857 3.278L0 5.136L4.5 9.5L12 1.8575L10.1425 0Z"
      fill="white"
    />
  </svg>

  <p class="toast__title">{{ successText }}</p>
</div>
<div *ngIf="isError" class="root__toast--unsuccess">
  <p class="toast__title">{{ errorText }}</p>
</div>
<!-- </div> -->
<app-header class="root__header"></app-header>
<div [class.root__blur]="isLoading">
  <app-body-container></app-body-container>
  <router-outlet *ngIf="!isSplash"></router-outlet>
</div>
<div *ngIf="isLoading" class="root__spinner">
  <img class="spinner__image" src="../assets/images/spinner.png" alt="" />
</div>
