<div class="container__body">
  <p class="body__title">Add Tasks</p>
  <div class="container__button">
    <button class="button--create" (click)="onCreateButtonPressed()">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 6.66667H9.33333V0H6.66667V6.66667H0V9.33333H6.66667V16H9.33333V9.33333H16V6.66667Z"
          fill="white"
        />
      </svg>
      Create
    </button>
    <div #buttonContainer class="container__button--filter">
      <button
        #allButton
        class="button__filter"
        (click)="onFilterButtonPressed('all')"
      >
        All
      </button>

      <button
        #incompleteButton
        class="button__filter"
        (click)="onFilterButtonPressed('incomplete')"
      >
        Incomplete
      </button>

      <button
        #completeButton
        class="button__filter"
        (click)="onFilterButtonPressed('complete')"
      >
        Complete
      </button>
    </div>
  </div>
</div>
