.container__body {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;
}

.body__title {
  font-weight: 700;
  font-size: 30px;
  color: var(--input-text-color);
}

.container__button {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.container__button--filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.button__filter {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background: var(--background-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid var(--border-color-secondary);
  cursor: pointer;
}

.button__filter:hover {
  background: var(--button-background-secondary-hover);
}

.button--create {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--button-background-primary);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--background-white);
  border: none;
  cursor: pointer;
}
.button--create:hover {
  background: var(--button-background-primary-hover);
}

.active {
  background: var(--button-background-secondary);
}

.active:hover {
  background: var(--button-background-secondary);
  cursor: default;
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}

@media only screen and (max-width: 426px) {
  .container__button {
    display: block;
  }

  .container__button--filter {
    margin-top: 10px;
    width: 280px;
  }
}

@media only screen and (max-width: 320px) {
  .button__filter {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container__button--filter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
  }
}
