.body-container-component {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 35px;
}

#add-task-title {
  font-weight: 700;
  font-size: 30px;
  color: var(--input-text-color);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.all-incomplete-complete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.custom-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background: var(--background-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid var(--button-background-main);
  cursor: pointer;
}

.custom-button:hover {
  background: var(--button-background-secondary-hover);
}

.create-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--button-background-primary);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--background-white);
  border: none;
  cursor: pointer;
}
.create-button:hover {
  background: var(--button-background-primary-hover);
}

.active {
  background: var(--button-background-secondary);
}

.active:hover {
  background: var(--button-background-secondary);
  cursor: default;
}

@media only screen and (max-width: 426px) {
  .button-container {
    display: block;
  }

  .all-incomplete-complete-container {
    margin-top: 10px;
    width: 280px;
  }
}

@media only screen and (max-width: 320px) {
  .custom-button {
    padding-left: 10px;
    padding-right: 10px;
  }
  .all-incomplete-complete-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
  }
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
