.container__task {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 3em;
  margin-top: 34px;
}

.task-item__title {
  background: #ffffff;
  border: 3px solid var(--border-color-primary);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  height: 80px;
  resize: none;
  outline: none;
}

.task-item__button--add {
  width: 91px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color-primary);
  border-radius: 5px;
  background: white;
  border: 1px solid var(--border-color-primary);
  cursor: pointer;
}
.task-item__button--add:hover {
  background: var(--button-background-secondary-hover);
}

.task-item__button--delete {
  width: 20px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.task-item__button {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.container__task-item {
  display: flex;
  height: 163px;
  border: 1px solid var(--button-background-secondary);
  box-sizing: border-box;
  border-radius: 5px;
}
/* .task-item-cart {
  position: relative;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 5%;
} */
.task-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background-white);
  border-radius: 5px;
  width: 100%;
  padding: 5%;
}
/* .task-item-component:not(:nth-child(4n)) {
  margin-right: calc(10% / 3);
}

.task-item-component:nth-child(4n) {
  margin-right: 0px;
} */

.task__spinner-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.footer__button {
  height: 36px;
  width: 117px;
  color: var(--background-white);
  background: var(--button-background-teritary);
  border: 1px solid var(--button-background-secondary);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.container__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .container__task {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 2em;
  }
}
