.head__search-bar {
  display: flex;
  align-items: center;
  /* width: 550px; */
  justify-content: space-between;
}

.search-bar__input {
  height: 36px;
  width: 518px;
  border-radius: 5px;
  background: var(--background-white);
  box-sizing: border-box;
  resize: none;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--text-color-primary);
  outline: none;
  border: 3px solid var(--border-color-primary);
}

.search-bar__button {
  margin-left: 5px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .search-bar__input {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .search-bar__input {
    width: 200px;
  }
}

@media screen and (max-width: 400px) {
  .search-bar__input {
    width: 100px;
  }
}

[data-title]:after {
  left: -250%;
}
/* 
@media only screen and (min-width: 600) {
  #search-textarea {
    width: 10px;
    border: 3px solid #d1d8ff;
  }
} */
