@import url("./assets/color/color.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background-grey);
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.1s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -1.7em;
  left: 90%;
  z-index: 99999;
  visibility: hidden;
  white-space: nowrap;
  background-color: var(--background-sonic-silver);
  color: var(--text-color-white);
  font-size: 15px;
  padding: 3px 5px 4px 5px;
  border-radius: 5px;
  opacity: 0;
}
[data-title] {
  position: relative;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0%;
}

.task-item__blur {
  filter: blur(1.5px);
}

.task__spinner-image--show {
  display: block;
}

.task__spinner-image--hide {
  display: none;
}
