.container__task {
  position: relative;
  width: 100%;
  background: var(--background-white);
  border-radius: 5px;
  padding: 15px;
}

.container__task-item {
  height: 100%;
}

.task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.task-item__input {
  background: var(--background-white);
  border: 3px solid var(--border-color-primary);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  height: 80px;
  resize: none;
  outline: none;
}

.task-item__button--save {
  width: 91px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color-primary);
  border-radius: 5px;
  background: var(--background-white);
  border: 1px solid var(--border-color-primary);
  cursor: pointer;
}
.task-item__button--save:hover {
  background: var(--button-background-secondary-hover);
}

.task-item__button--complete,
.task-item__button--delete,
.task-item__button--edit {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.task-item__button-incomplete {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.task-item__button-edit {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.task-item__button-complete {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.task-item__title--complete {
  color: var(--text-color-complete);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
}

.task-item__title--incomplete {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-primary);
  width: 100%;
  word-wrap: break-word;
}

.task__spinner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.blur {
  display: "block";
  filter: blur(1.5px);
}

.task-item__created-at {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color-date);
}

.completed-in__title {
  color: var(--background-white);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
  font-family: "Roboto";
  font-style: normal;
}

.task-item__completed-in {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--button-background-primary);
  padding: 10px;
}
