.task-item-cart {
  position: relative;
  width: 100%;
  background: var(--background-white);
  border-radius: 5px;
  padding: 15px;
}

.task-item-container {
  height: 100%;
}

.task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.complete-button,
.edit-button,
.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.task-button-container {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.complete-task-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.complete-todo-title {
  color: var(--text-color-complete);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
}

.incomplete-todo-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-primary);
  width: 100%;
  word-wrap: break-word;
}

#task-title-input {
  background: var(--background-white);
  border: 3px solid var(--border-color-primary);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 5px;
  height: 80px;
  resize: none;
  outline: none;
}

.add-task-button {
  width: 91px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color-primary);
  border-radius: 5px;
  background: var(--background-white);
  border: 1px solid var(--border-color-primary);
  cursor: pointer;
}
.add-task-button:hover {
  background: var(--button-background-secondary-hover);
}

.delete-task-button {
  width: 20px;
  height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.add-button-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.task-item-component {
  display: flex;
  width: calc(90% / 4);
  height: 163px;
  margin-bottom: calc(10% / 3);
  border: 1px solid var(--border-color-secondary);
  box-sizing: border-box;
  border-radius: 5px;
}
.spinner-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 2s infinite linear;
}

.blur {
  display: "block";
  filter: blur(1.5px);
}

.created-at-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color-date);
}

.completed-time-text {
  color: var(--background-white);
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
  font-family: "Roboto";
  font-style: normal;
}

.completed-time-text-container {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--button-background-primary);
  padding: 10px;
}
